.listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.headerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
}


#selecter {
  text-align-last: right;
  padding-right: 29px;
  direction: rtl;
  max-width: 200px;
}

.lbl {
  max-width: 40px;
}


.sizer {
  flex-grow: 1;
  min-width: 0px;
}

.formsize {
  box-sizing: border-box;

}

.smallbutton {
  display: flex;
  max-width: 100px;

}

.buttonsmall {
  max-width: 130px;
}

.knapp {
  display: flex;
  width: 100px;
  justify-content: center;
}

.myform {
  margin: 0 auto;
}

.hidden {
  display: none;
}

.imagecon {
  width: 250px;
  height: 250px;

}

.rounded-xl {
  border-radius: 1.5rem;
  max-width: 200px;
}

.avatarForm {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}


// .myProfile {
//   box-sizing: border-box;
//   margin: 10px;
// }

a {
  text-decoration: none;

}

a>* {
  text-decoration: none;
}